

.admin {
    text-align: center;
    margin-top: 130px;
}

.adminEventsDiv{
    text-align: center;
    margin-bottom: 90px;
}


.admin h1{
    width: 270px;
    margin: 0px auto;
    margin-bottom: 20px;
    background-color: brown;
    height: 45px;
}


.admin button{
    margin: 0px 15px;
    margin-bottom: 20px;
    height: 70px;
    width: 260px;
    border: none;
    border-radius: 5px;
    font-family: 'Amatic SC', cursive;
    background-color:rgba(204, 204, 204);
    font-size: 28px;
}

.admin button:hover{
    opacity: 0.9;
}


.adminUsers{
    text-align: center;
    margin-bottom: 70px;
}

.adminEventsDiv h1,
.adminUsers h1,h3{
    background-color: grey;
    width: 550px;
    margin: 20px auto;
    border-radius: 20px;
}

.addBtn{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 70%;
    height: 35px;
    border-radius: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    max-width: 700px;
}
.userDivForm{
    background-color: rgb(66, 116, 99);
    width: 400px;
    margin: 0px auto;   
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.eventsDivForm{
    background-color: rgb(194, 127, 3);
    width: 400px;
    margin: 0px auto;   
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.eventsDivForm input,
.userDivForm  input {
    margin: 0px;
    display: flex;
    margin-left: 10px;
    background: transparent;
    border-radius: 10px;
    width: 70%;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    padding-top: 2px;
    padding-left: 8px;
}

.userDiv{
    display: inline-block;
    background-color: rgb(66, 116, 99);
    width: 300px;
    margin: 0px auto;   
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 10px 10px
}

.eventDiv input,
.adminLabels,
.userDiv  input {
    margin: 0px;
    display: flex;
    margin-left: 10px;
    background: transparent;
    border: none;
    font-family: 'Amatic SC', cursive;
    width: 70%;
}



.titleInput{
    font-size: 30px;
    
}
.dateInput{
    font-size: 18px;
    
}
.descInput{
    font-size: 18px;
    width: 80%;
}
textarea{
    display: flex;
    margin-top: 5px;
    border: 2px solid #333333;
    border-radius: 10px;
    background: transparent;
    font-family: 'Amatic SC', cursive;
    margin-left: 13px;
   padding: 3px 3px;
   margin-bottom: 8px;
}


.detInput{
    font-size: 21px;
    padding-left: 5px;
    border: 2px solid #333333;
}
.nameInput{
    margin-bottom: 10px;
    font-size: 29px;
    padding-left: 5px;
    border: 2px solid #333333;
}

.commentDivForm button,
.eventDiv button,
.userDiv button{
    margin-bottom: 5px;
    margin-left: 5px;
    width: 120px;
    height:27px;
    border-radius: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
}

.eventsDivForm select{
    display: flex;
    margin-left: 13px;
    margin-top: 5px;
}

.eventDiv button{
    margin-left: 20px;
}

.userDiv label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 19px;
}

.lastSelect{
 border-radius: 25px;
 width: 60px;
 height:27px;
 padding-left: 5px;
 border: 2px solid #333333;
 font-family: 'Amatic SC', cursive;
 font-size: 18px;
 
}


.eventsDivForm select{
    border: none;
    border-radius: 10px;
    padding: 5px;

}

input[type=file] {
    width: 350px;
  max-width: 100%;
  color: #333333;
  padding: 5px;
  background: rgb(194, 127, 3);
  border-radius: 10px;
  border: 2px solid #333333
  }

  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: grey;
    padding: 5px 20px;
    border-radius: 10px;
    color: #333333;
    cursor: pointer;
    transition: background .2s ease-in-out;
    font-family: 'Amatic SC', cursive;
  }

.eventDiv{
    height: 162px;
    width: 600px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.eventInfo{
    padding-bottom: 2px;
}

