.eventsContentDiv{
    text-align: center;
}


.searchBar{
    border: none;
    background-color: rgba(204, 204, 204, 1);
    border-radius: 10px;
    height: 30px;
    width: 300px;
    text-align: center;
    margin-bottom: 40px;
}


.eventsContentDiv a{
    text-decoration: none;
    font-size: 30px;
   margin-left: 5px;
   color: brown;
   margin-bottom: 20px;
   
}

.eventsContentDiv a:hover{
  opacity: 0.8;
}


.linkDiv{
    display: flex;
    margin-left: 20px;
}


.eventInfo{
    display: inline-block;
}

.eventInfo h1,
.eventInfo h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.eventInfo p{
    padding-top: 20px;
}


.eventDiv img{
height: 125px;
width: 125px;

}

.eventDiv{
    background: rgba(204, 204, 204, 1);
    width: 60%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 0px;
    display: block;
    margin:0 auto;
    margin-bottom: 15px;
    
    border-radius: 5px;
    text-align: left;
    max-width: 800px;
    min-width: 400px;
}

.allEventDiv{
    margin-bottom: 120px;
    margin-top: 40px;
}



.passed{
    opacity: 0.8;
}

.modalBtn{
    background-color: dimgray;
    border: none;
    width: 50px;
    height:30px;
    border-radius: 40px;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.modalBtn:hover{
    opacity: 0.8;
}


.modal img{
    margin-top: 30px;
    width: 220px;
    height: 300px;
}
.modal h1{
    font-size: 45px;
    margin-bottom: 0px;
}
.modal h2{
    font-size: 23px;
    margin-top: 5px;
}


form h1{
    font-size: 27px;
}

form{
    margin-top: 20px;
}

.attendats{
    margin-bottom: 10px;
}

.attendats label{
    font-size: 21px;
}

.attendats select{
    padding-top: 3px;
}


.typeTicket {
    margin-bottom: 10px;
}

.formBtn{
    background-color: dimgray;
    border: none;
    width: 50px;
    height:30px;
    border-radius: 40px;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    margin-bottom: 20px;
    display:  block;
    margin-left: 45%;
    margin-top: 10px;
}

.info input{
    width: 70%;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    height: 20px;
    padding-left: 5px;
}



.banks{
    display: block;
    margin-left: 30%;
    width: 40%;
}

 .total{
    text-align: center;
}