.eventsContentDiv{
    text-align: center;
}


.searchBar{
    border: none;
    background-color: rgba(204, 204, 204, 1);
    border-radius: 10px;
    height: 30px;
    width: 300px;
    text-align: center;
    margin-bottom: 40px;
}


.eventsContentDiv a{
    text-decoration: none;
    font-size: 30px;
   margin-left: 5px;
   color: brown;
   margin-bottom: 20px;
   
}

.eventsContentDiv a:hover{
  opacity: 0.8;
}


.linkDiv{
    display: flex;
    margin-left: 20px;
}


.eventInfo{
    display: inline-block;
}

.eventInfo h1,
.eventInfo h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.eventInfo p{
    padding-top: 20px;
    
}



.eventDiv img{
height: 125px;
width: 125px;

}

.eventDiv{
    background: rgba(204, 204, 204, 1);
    width: 60%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 0px;
    display: inline-block;
    border-radius: 5px;
    text-align: left;
    max-width: 800px;
    min-width: 400px;
}

.allEventDiv{
    margin-bottom: 120px;
    
}

