body{
      background-image: url(../images/lightTheme1.jpg);
      height: 100%; 
      background-repeat: no-repeat;
      background-size: cover; 
      margin: 0;
      margin-right: 10px;
      font-family: 'Amatic SC', cursive;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #D3D3D3;
    color: 	#606060;
    padding-bottom: 10px;
   
}

.header{
    clear:both;
    overflow:auto;
}

nav{
    float:right;
}

.logo h1{
    float:left;
    margin-left: 20px;
    font-size: 55px;
    margin-top: 12px;
}

ul li {
    display: inline-block; 
    padding:15px;
    font-size:32px; 
    margin-right:15px ;
  }

ul li a{
    text-decoration: none;
}
  
ul li a:hover{
    color:#606060; 
  }


